---
import Layout from '../layouts/layout.astro';
import logoImg from '../assets/logo-nlw.svg'
import GamesCarousel from '../components/games-carousel'
import CreateAdBanner from '../components/create-ad-banner'

const response = await fetch('http://localhost:3333/games/');
const data = await response.json();
---

<Layout title="NLW eSports">
  <div class="max-w-[1344px] mx-auto my-20 flex flex-col items-center">
    <img src={logoImg} alt="Logo NLW" />

    <h1 class="text-white text-6xl font-black mt-20 bg-gradient-purple-green-yellow bg-clip-text">Seu <span class="text-transparent">duo</span> está aqui.</h1>

    <GamesCarousel client:load data={data} />

    <CreateAdBanner client:load />
  </div>
</Layout>
